<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Docmag Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imgareaselect/0.9.10/css/imgareaselect-default.css" integrity="sha256-2m75JSbDAbDaM0OVP9exQ69ZJjSRM3t5YYbP6RNuKPc=" crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <div th:replace="header :: header('tags')">&nbsp;</div>

    <h1 class="display-4">Document Tagging</h1>
</div>

<div class="container-fluid">
    <form th:action="@{/tags/save}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-title">Sample Document</h5>
                    <div class="card-body">
                        <img id="coverImage" th:src="@{/tags/cover/(documentId=${documentId})}" alt="Document Image for Tagging"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input id="templateName" name="name" type="text" class="form-control" placeholder="Tag Name" th:value="${name}">
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </span>
                </div>

                <div class="card">
                    <h5 class="card-title">Template Preview</h5>
                    <div class="card-body">
                        <canvas id="templatePreview"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="id" name="id" th:value="${id}"/>
        <input type="hidden" id="documentId" name="documentId" th:value="${documentId}"/>
        <input type="hidden" id="templateX" name="xPos" th:value="${xPos}"/>
        <input type="hidden" id="templateY" name="yPos" th:value="${yPos}"/>
        <input type="hidden" id="templateWidth" name="width" th:value="${width}"/>
        <input type="hidden" id="templateHeight" name="height" th:value="${height}"/>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imgareaselect/0.9.10/js/jquery.imgareaselect.min.js" integrity="sha256-uzBYVacY+4pnUzCH2+C9dcgWYCl2eeccG8EnRaG/LSs=" crossorigin="anonymous"></script>
<script src="/js/tagging.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#coverImage').imgAreaSelect({
            handles: true,
            onSelectChange: previewSelect,
            onSelectEnd: saveSelect,
            onInit: loadSelect
        });
    });
</script>
</body>
</html>